.footer {
    display: flex;
    align-items: center;
    min-height: 25px;
    color: #fff;
    background-color: black;
    padding: 1rem;

    &__title {
        font-size: 1rem;
        letter-spacing: .5px;
    }

    &__reg-logo {
        margin-right: .5rem;
    }
}